@import url("https://fonts.googleapis.com/css?family=Chewy|Permanent Marker|Open+Sans|Fredoka+One|Lora|Lora:bold|Roboto|Roboto:bold|Lato");
@import "agent-reset.css";
@import "bootstrap";

/**
  * Colours
  */
$nav-menu-color: rgb(255, 255, 255);
$nav-gradient-left-color: rgb(245, 136, 8);
$nav-gradient-right-color: rgb(220,43,92);
$nav-menu-hover-color: rgb(255, 0, 0);

$welcome-section-text-color: rgb(255, 255, 255);


$project-gradient-left-color: rgb(0, 0, 0);
$project-gradient-right-color: rgb(220,43,92);
/**
  *  Fonts
  */

$welcome-title: "Chewy", sans-serif;
$welcome-subtitle: "Permanent Marker", "Open Sans", sans-serif;

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.section {
  text-align: center;
}

/**
  *  Nav Bar
  */
#navbar {
  position: fixed;
  width: 100%;
  z-index: 99;
  font-family: "Fredoka One", sans-serif;
  font-size: 1.5rem;
  line-height: 3rem;
  background-color: $nav-gradient-left-color;
  background-image: linear-gradient(to right, $nav-gradient-left-color , $nav-gradient-right-color);

  ul {
    text-align: center;

      a {
        position: relative;
      }
      a:hover {
        font-weight: bold;
        color: black;
        opacity: 0.75;
        transition: all 1s;
      }
      a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.5s ease-in-out 0s;
      }
      a:hover::before {
        visibility: visible;
        transform: scaleX(1);
      }
  }

}

@media (min-width: 768px) {
  #navbar {
    ul {
      margin: auto;
      width: 50%;
    }
  }
}

/**
  *  Welcome Section
  **/

  #welcome-section {
    height: 100vh;
    background-color: $nav-gradient-left-color;
    background-image: linear-gradient(to right, $nav-gradient-left-color , $nav-gradient-right-color);

    .welcome-text {
      padding-top: 45vh;
      display: inline-block;
      vertical-align: middle;
    }

    h1 {
      color: $welcome-section-text-color;
      font-family: $welcome-title;
    }

    p {
      color: $welcome-section-text-color;
      font-family: $welcome-subtitle;
      font-size: 1.5em;
    }
  }

  /**
    *  Projects
    **/

  #projects {
    width: 100%;
    height: 100%;
    background-color: $project-gradient-right-color;
    background-image: linear-gradient(to right, $project-gradient-left-color , $project-gradient-right-color);

    ul {
      margin: 150px auto;
      padding: 0 20%;
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 5vw;
      grid-row-gap: 10vh;

    }

    .project-tile {

      li {
        margin: auto;
        min-width: 300px;
        width: 25vw;
        height: 30vh;

        img {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          object-fit: cover;
        }
      }
    }

  }
